<!DOCTYPE html>

<html>

<head>
    <title>
        Simple Webpage
    </title>
    <link rel="stylesheet" href="G:\Nimap_Angular\DemoApp\src\app\header\header.component.css">
</head>

<body>
    <nav class="navbar background">
        <ol class="nav-list">
            <div class="logo">

            </div>
            <li><a href="#home">Home</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><a href="#aboutus">About Us</a></li>
            <li><a href="#jobs">Jobs</a></li>
            <li><a href="#employees">Employees</a></li>
        </ol>

        <div class="rightNav">
            <input type="text" name="search" id="search">


            <a href='G:\Nimap_Angular\DemoApp\src\app\registration\registration.component.html' target="_blank">"Register Here</a>
            <button class="btn btn-sm">Search</button>

        </div>
    </nav>

    <section class="firstsection">
        <div class="box-main">
            <div class="firstHalf">
                <h1 class="text-big" id="web"></h1>




            </div>
        </div>
    </section>

    <section class="secondsection">
        <div class="box-main">
            <div class="secondHalf">
                <h1 class="text-big" id="program"></h1>

            </div>
        </div>
    </section>

    <section class="section">
        <div class="paras">
            <h1 class="sectionTag text-big"></h1>

        </div>

    </section>

</body>

</html>